<h1 class="display-4"><strong><u>@Model.title</u></strong> has been registered.</h1>
<br />
<br />
@model Result
<h1 class="display-4">
    <p>ID: @Model.id</p>
    <p>Genre: @Model.genre</p>
    <p>Year: @Model.year</p>
    <p>Actors: @Model.actors</p>
    <p>Directors: @Model.directors</p>
</h1>